videoRecord.xcodeproj/project.xcworkspace/contents.xcworkspacedata
videoRecord.xcodeproj/project.xcworkspace/xcuserdata/tlb.xcuserdatad/UserInterfaceState.xcuserstate
videoRecord.xcodeproj/xcuserdata/tlb.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
videoRecord.xcodeproj/xcuserdata/tlb.xcuserdatad/xcschemes/videoRecord.xcscheme
videoRecord.xcodeproj/xcuserdata/tlb.xcuserdatad/xcschemes/xcschememanagement.plist
